<app-nav-bar></app-nav-bar> 
<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">    
      <a routerLink="/startTest"> 
        <div class="card-panel teal">
          <div class="center white-text">
            <i class="material-icons ">play_arrow</i> Start Test
          </div>
        </div> 
      </a>  
      <a routerLink="/createTest"> 
        <div class="card-panel teal">
          <div class="center white-text">
            <i class="material-icons ">add_box</i> Create Test
          </div>
        </div> 
      </a>
      <a routerLink="/uploadQuestion"> 
        <div class="card-panel teal">
          <div class="center white-text">
            <i class="material-icons ">file_upload</i> Upload Question
          </div>
        </div> 
      </a>
    </div>
  </div>
</div>   
