<app-nav-bar></app-nav-bar> 
<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">   
      <div class="card-panel teal "> 
          <label class="white-text"><h5>Recruitment Test</h5></label>  
          <div class="input-field ">
                <input class="white-text" type="text" #testId ngModel name="testId" placeholder="Test ID"> 
                <a  class="waves-effect waves-light btn " (click)='getTestSetDetail(testId.value)'>STart Test</a>
          </div>
        </div>
    </div>
  </div>
</div>  
